.filters {
  background: white;
  width: 100%;
  text-align: center !important;
}
.filters li {
  display: inline-block;
  max-width: 85px;
  padding: 3px;
  text-align: center;
}
.filters li label {
  display: block;
  font-size: 12px;
  font-weight: 900;
}
.filters li input {
  width: 100%;
}
.filters li select {
  padding: 1px;
  width: 100%;
}
::placeholder {
  font-style: italic;
  font-size: 10px;
  text-align: center;
  padding: 5px;
}

.widget {
  position: relative;
  width: 400px;
  height: 550px;
  margin: 40px auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
}
.widget .cover {
  height: 45.7%;
  overflow: hidden;
}
.widget .cover img {
  width: 100%;
  height: auto;
  min-height: 160px;
  border-radius: 10px 10px 0 0;
}
.widget .photo {
  position: absolute;
  top: 24.29%;
  left: 46%;
  width: 33.33%;
  height: 24.23%;
  margin: 0 0 0 -55px;
  border: 5px solid #fff;
  border-radius: 50%;
}
.widget h1,
.widget h2,
.widget h3 {
  display: block;
  margin: 10px 0;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #999;
}
.widget h1 {
  margin: 60px 0 20px;
  font-size: 26px;
  color: #000;
}
.widget h3 {
  font-size: 12px;
}
.widget ul {
  position: absolute;
  top: 20px;
  padding: 0;
  background: #2cdfd3;
}
.widget ul.position-left {
  width: 41.77px;
  height: 175.74px;
  left: -42px;
  top: 30%;
}
.widget ul.position-right {
  width: 41.77px;
  height: 175.74px;
  right: -41px;
  top: 30%;
}
.widget ul li {
  list-style: none;
}
.widget ul li a {
  display: block;
  padding: 5px 6px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  border-bottom: 1px solid #2cd5ca;
  transition: background-color 0.3s;
}
.widget ul li:hover > a {
  background-color: #2cd5ca;
}
.widget ul li:first-child > a {
  border-radius: 0 3px 0 0;
}
.widget ul li:last-child > a {
  border: none;
  border-radius: 0 0 3px 0;
}
#name {
  font-size: 29.9px;
}
#Role {
  font-size: 23px;
}
#City {
  font-size: 19px;
}
#inPut > input {
  padding: 5px;
  width: 35%;
  margin-top: 20px !important;
}
